
  <!-- side bar start -->


  <div class="offcanvas sidebar-offcanvas offcanvas-start" tabindex="-1" id="offcanvasLeft">
    <div class="offcanvas-header sidebar-header">
      <div class="sidebar-logo">
        <img class="img-fluid logo" src="assets/mpay/images/person/p2.png" style="border-radius: 15px;" alt="logo" />
      </div>
      <div class="balance" *ngIf="global.ClientFicha()!==undefined && global.ClientFicha() !== null">
        <img class="img-fluid balance-bg" src="assets/mpay/images/background/auth-bg.jpg" alt="auth-bg" />
        <h5>Survana Williams</h5>
        <h2 >420 points</h2>
      </div>
    </div>
    <div class="offcanvas-body">
      <div class="sidebar-content">
        <ul class="link-section">
          <li>
            <a  class="pages pointer" (click)="global.setRoute('bhome')">
              <i class="sidebar-icon" data-feather="home"></i>
              <h3>Home </h3>
            </a>
          </li>
          <li>
            <a  class="pages pointer" (click)="global.setRoute('home')">
              <i class="sidebar-icon" data-feather="user"></i>
              <h3>Loged</h3>
            </a>
          </li>
          <li>
            <a  class="pages pointer"  (click)="global.setRoute('ranking')">
              <i class="sidebar-icon" data-feather="bar-chart-2"></i>
               <h3>Ranking</h3>
            </a>
          </li>
        

          <li>
            <a (click)="global.signOut()" class="pages pointer" >
              <i class="sidebar-icon" data-feather="user"></i>
              <h3>Log out</h3>
            </a>
          </li>
        </ul>
        <div class="mode-switch">
          <ul class="switch-section">
            <li>
              <h3>Modo oscuro</h3>
              <div class="switch-btn">
                <input id="dark-switch" type="checkbox" />
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="auth-header" [hidden]="virtualRouter.routerActive!=='login'">
    <img class="img-fluid img "  src="assets/mpay/images/logo/logo.png" alt="v1" />
    <div class="auth-content" >
      <div>
        <h2>NameApp</h2>
        <h4 class="p-0">Inicio de session</h4>
      </div>
    </div>
  </div>
  <!-- header start -->
  <header class="section-t-space fixed-header" style="background:#7030fe" [hidden]="virtualRouter.routerActive!=='ranking'" >
    <div class="custom-container">
      <div class="header-panel">
        <a (click)="global.setRoute('bhome')" lass="back-btn">
          <i class="icon" data-feather="arrow-left" style="color: white;"></i>
      </a>
        <!-- <img class="img-fluid logo" src="assets/mpay/images/logo/logo3.png" alt="logo" /> -->
      
        <!-- <a  href="landing.html#add-money" class="notification" class="add-money " data-bs-toggle="modal">
          <i class="notification-icon" data-feather="settings" ></i>
        </a> -->
       
      </div>
    </div>
   
  </header>
  <header class="section-t-space fixed-header" style="background: white;" [hidden]="virtualRouter.routerActive!=='assetsments'" >
    <div class="custom-container">
      <div class="header-panel">
        <a (click)="global.setRoute('bhome')" lass="back-btn">
          <i class="icon" data-feather="arrow-left" style="color: black;"></i>
      </a>
        <!-- <img class="img-fluid logo" src="assets/mpay/images/logo/logo3.png" alt="logo" /> -->
      
        <!-- <a  href="landing.html#add-money" class="notification" class="add-money " data-bs-toggle="modal">
          <i class="notification-icon" data-feather="settings" ></i>
        </a> -->
       
      </div>
    </div>
   
  </header>
  <header class="section-t-space fixed-header" style="padding-bottom: 28px; background: white;" [hidden]="virtualRouter.routerActive!='bhome'">
    <div class="custom-container">
      <div class="header-panel">
  
        <img class="img-fluid logo" *ngIf="global.deviceType==='Mobile'"  src="assets/mpay/images/logo/logo4.png" alt="logo"  style="left: 35%;max-width: 100px;"/>
        <img class="img-fluid logo" src="assets/mpay/images/logo/logo4.png" alt="logo"  *ngIf="global.deviceType==='Desktop'" />
        <a class="sidebar-btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft">
          <i class="menu-icon" data-feather="menu"></i>
        </a>
        <div class="row " >
          <a  (click)="global.setRoute('login')" class="notification" style="width: 80px; cursor: pointer; color: white; border-color: #612bfd; background: #612bfd; margin-right: 2px;">
            <!-- <i class="notification-icon" data-feather="user"></i> -->
            Register
          </a> 
           <a (click)="global.setRoute('login')" class="notification" style="width: 80px; cursor: pointer; color: #612bfd; border-color: #612bfd;">
            <!-- <i class="notification-icon" data-feather="user"></i> -->
            Log in
          </a> 
        </div>
        <!-- <div class="dropdown">
          <a  class="back-btn" role="button" data-bs-toggle="dropdown">
            <i class="icon" data-feather="user"></i>
          </a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" >Profle</a></li>
            <li><a class="dropdown-item" >Settings</a></li>
            <li><a class="dropdown-item" >Log out</a></li>
          </ul>
        </div> -->
      </div>
    </div>
  </header>
  <header class="section-t-space fixed-header" style="padding-bottom: 28px;" [hidden]="virtualRouter.routerActive!='home'">
    <div class="custom-container">
      <div class="header-panel">
        <a class="sidebar-btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft">
          <i class="menu-icon" data-feather="menu"></i>
        </a>
        <img class="img-fluid logo" src="assets/mpay/images/logo/logo3.png" alt="logo" />

        <!-- <a href="notification.html" class="notification">
          <i class="notification-icon" data-feather="user"></i>
        </a> -->
        <div class="dropdown">
          <a  class="back-btn" role="button" data-bs-toggle="dropdown">
            <i class="icon" data-feather="user"></i>
          </a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="global.setRoute('profile')" style="cursor: pointer;">Profle</a></li>
            <li><a class="dropdown-item" >Settings</a></li>
            <li><a class="dropdown-item" (click)="global.setRoute('login')" style="cursor: pointer;">Log out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <header class="section-t-space fixed-header" [hidden]="virtualRouter.routerActive!=='add-order'" >
    <div class="custom-container">
      <div class="header-panel">
        <a (click)="global.setRoute('home')" lass="back-btn">
          <i class="icon" data-feather="arrow-left" style="color: white;"></i>
      </a>
       <form class="theme-form search-head" target="_blank" style="padding-left:3%;">
          <div class="form-group">
            <div class="form-input">
              <input type="text" class="form-control search" style="background-color: aliceblue;" id="inputusername" placeholder="Buscar ..." />
              <i class="search-icon" data-feather="search"></i>
            </div>
          </div>
        </form>
        <a >
          <button class="btn theme-btn " style="margin-top: 0; background: transparent !important" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom"><i class="notification-icon" data-feather="settings" ></i></button>
          <div class="offcanvas element-offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom"
          aria-labelledby="offcanvasBottomLabel">
          <div class="offcanvas-header ">
              <h5 class="offcanvas-title" id="offcanvasBottomLabel">Filtros disponibles</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
            <div class="offcanvas-body small">
              <form class="auth-form pt-0" target="_blank">
              <div class="form-group">
                <label for="inputusername" class="form-label">Order by name</label>
                <div class="d-flex gap-2">
                  <select id="inputcards" class="form-select">
                    <option selected>Popularity</option>
                    <option>Dificulty</option>
                  </select>
                </div>
              </div>
                <div class="form-group">
                    <label for="inputusername" class="form-label">Filter by name</label>
                    <div class="form-input">
                        <input type="text" class="form-control" id="inputusername" placeholder="name" />
                    </div>
                </div>
                <div class="form-group">
                <label for="inputusername" class="form-label">Filter by lenguage</label>
                <div class="option d-block mt-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck1" checked />
                        <label class="form-check-label" for="flexCheck1">English</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2" />
                        <label class="form-check-label" for="flexCheck2">Spanish</label>
                    </div>
                </div>
                </div>
                <div class="form-group">
                  <label for="inputusername" class="form-label">Filter by category</label>
                  <div class="form-input">
                      <input type="text" class="form-control" id="inputusername" placeholder="name" />
                  </div>
              </div>
            </form>
            <div class="transfer-btn">
              <div class="custom-container">
                <a  class="btn theme-btn sub-btn  w-100" data-bs-toggle="modal">Aplicar</a>
              </div>
            </div>
            </div>
          </div>  
        </a> 
      </div>
    </div>
   
  </header>
  <header class="section-t-space fixed-header" [hidden]="virtualRouter.routerActive!=='profile'" >
    <div class="custom-container">
      <div class="header-panel">
        <a (click)="global.setRoute('home')" lass="back-btn">
          <i class="icon" data-feather="arrow-left" style="color: white;"></i>
      </a>
       
        <!-- <a  href="landing.html#add-money" class="notification" class="add-money " data-bs-toggle="modal">
          <i class="notification-icon" data-feather="settings" ></i>
        </a> -->
       
      </div>
    </div>
   
  </header>
  <!-- header end -->
  <app-profile [hidden]="virtualRouter.routerActive!=='profile'"></app-profile>
<app-login [hidden]="virtualRouter.routerActive!=='login'"></app-login>
<app-home [hidden]="virtualRouter.routerActive!=='home'"></app-home>
<app-bhome [hidden]="virtualRouter.routerActive!=='bhome'"></app-bhome>
<app-ranking [hidden]="virtualRouter.routerActive!=='ranking'"></app-ranking>

<app-assetsments  [hidden]="virtualRouter.routerActive!=='assetsments'"></app-assetsments>
<app-add-order [hidden]="virtualRouter.routerActive!=='add-order'" style="padding-top: 25px;"></app-add-order>
  <div class="modal add-money-modal fade" id="add-money" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Add Money</h2>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="inputcard" class="form-label mb-2">From</label>
            <div class="d-flex gap-2">
              <select id="inputcard" class="form-select">
                <option selected>**** **** **** 1566 - Saving a/c</option>
                <option>**** **** **** 1566 - Saving a/c</option>
                <option>**** **** **** 1566 - Saving a/c</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputamount" class="form-label mb-2">Amount</label>
            <div class="form-input">
              <input type="number" class="form-control" id="inputamount" />
            </div>
          </div>
          <a href="landing.html" class="btn theme-btn successfully w-100">Deposit</a>
        </div>
        <button type="button" class="btn close-btn" data-bs-dismiss="modal">
          <i class="icon" data-feather="x"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="modal pay-modal fade" id="pay" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Apple Bill Detail</h2>
        </div>
        <div class="modal-body">
          <ul class="details-list">
            <li>
              <h3 class="fw-normal dark-text">Amount</h3>
              <h3 class="fw-semibold theme-color">$49.85</h3>
            </li>
            <li>
              <h3 class="fw-normal dark-text">Bill date</h3>
              <h3 class="fw-normal light-text">10 May, 2023</h3>
            </li>
            <li>
              <h3 class="fw-normal dark-text">Due Date</h3>
              <h3 class="fw-normal error-color">31 May, 2023</h3>
            </li>
            <li>
              <h3 class="fw-normal dark-text">Bill number</h3>
              <h3 class="fw-normal light-text">BM452695523</h3>
            </li>
            <li>
              <h3 class="fw-normal dark-text">Mobile number</h3>
              <h3 class="fw-normal light-text">+91 ***** **256</h3>
            </li>
            <li>
              <h3 class="fw-normal dark-text">Bill status</h3>
              <h3 class="fw-semibold error-color">Unpaid</h3>
            </li>
          </ul>
          <a href="make-payment.html" class="btn theme-btn successfully w-100">Pay</a>
        </div>
        <button type="button" class="btn close-btn" data-bs-dismiss="modal">
          <i class="icon" data-feather="x"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="modal pay-modal fade" id="paid" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Mobile Bill Detail</h2>
        </div>
        <div class="modal-body">
          <ul class="details-list">
            <li>
              <h3 class="fw-normal dark-text">Amount</h3>
              <h3 class="fw-semibold theme-color">$69.49</h3>
            </li>
            <li>
              <h3 class="fw-normal dark-text">Bill date</h3>
              <h3 class="fw-normal light-text">10 May, 2023</h3>
            </li>
            <li>
              <h3 class="fw-normal dark-text">Due Date</h3>
              <h3 class="fw-normal light-text">22 May, 2023</h3>
            </li>
            <li>
              <h3 class="fw-normal dark-text">Bill number</h3>
              <h3 class="fw-normal light-text">BM452695523</h3>
            </li>
            <li>
              <h3 class="fw-normal dark-text">Mobile number</h3>
              <h3 class="fw-normal light-text">+91 ***** **256</h3>
            </li>
            <li>
              <h3 class="fw-normal dark-text">Bill status</h3>
              <h3 class="fw-semibold theme-color">Paid</h3>
            </li>
          </ul>
          <a href="landing.html" class="btn theme-btn successfully w-100">Paid - Thank you !</a>
        </div>
        <button type="button" class="btn close-btn" data-bs-dismiss="modal">
          <i class="icon" data-feather="x"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="offcanvas offcanvas-bottom addtohome-popup theme-offcanvas" tabindex="-1" id="offcanvas">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    <div class="offcanvas-body small">
      <div class="app-info">
        <img src="assets/mpay/images/logo/48.png" class="img-fluid" alt="" />
        <div class="content">
          <h4>Name App</h4>
          <a href="landing.html#">www.name-app.com</a>
        </div>
      </div>
      <a href="landing.html#!" class="btn theme-btn install-app btn-inline home-screen-btn m-0" id="installapp">Add to
        Home
        Screen</a>
    </div>
  </div>
  <div class="navbar-menu " [hidden]="global.deviceType!=='Mobile' || virtualRouter.routerActive=='login'|| virtualRouter.routerActive=='add-order'">
    <ul>     
      <li class="active">
        <a (click)="global.setRoute('home')">
          <div class="icon">
            <i class="sidebar-icon" data-feather="home"></i>
                </div>
          <h5 class="active">Home</h5>
        </a>
      </li>  
      <li>
        <a (click)="global.setRoute('ranking')">
          <div class="icon">
            <i class="sidebar-icon" data-feather="check-circle"></i>
             </div>
          <h5 >Ranking</h5>
        </a>
      </li>
      <li>
        <a (click)="global.setRoute('add-order')">
          <div class="icon">
              <i class="sidebar-icon" data-feather="file-text"></i>
             </div>
          <h5>Assessments</h5>
        </a>
      </li>
    </ul>
  </div>
  